# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vsidx

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache files
*.vsidx
*.vsidx.*
FileContentIndex/
.dtbcache.v2
.futdcache.v2
*.suo
DocumentLayout.json
DocumentLayout.backup.json
*.metadata.*
*.projects.*
*.strings.*

# MSBuild Binary and Structured Log
*.binlog

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/ 